 {% extends "base.html" %}



 {% block content %}
 
  

<div class="hero"><h1>
  Club danse gogo</h1>
</div>
  
  

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ullam ipsum, provident eius aspernatur distinctio sapiente reiciendis at nisi debitis deleniti perferendis temporibus corrupti dolores fugiat nemo tempora, alias commodi?</div>
  
<script src="script.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
 <div class= "col-12 col-md-6">
 <img src="/static/image/https://replit.com/@nomura79/BitterSlateblueCharmap#static/image/alissa1-20220307155146.webp" class="img-responsive" width="60%">
</div>



</html>













 {% endblock %}














